.HeaderSection {
  background-color: #F8B500;
  padding: 20px;
}

.HeaderContents {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.HeaderBar {
  position: relative;
}

.HeaderLink {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  @media (width < 767px) {
    & {
      font-size: 0.8em;
    }
  }
}

.HeaderBar::after {
  position: absolute;
  bottom: -15px;
  content: '';
  width: 200px;
  height: 5px;
  background-color: white;
}