.SectionBlock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.SectionBlock__Link {
  display: flex;
  gap: 20px;
  width: fit-content;
  color: black;
  text-decoration: none;
}

.SectionBlock__Image {
  width: 200px;
  max-height: 110px;
  object-fit: cover;
  border-radius: 5px;
  @media (width < 767px) {
    & {
      aspect-ratio: 3/4;
    }
  }
}

.SectionBlock__MainContents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 190px;
  padding: 5px 0;
}

.SectionBlock__Title {
  width: fit-content;
  font-size: 14px;
  border-radius: 5px;
  background-color: #C0E4FF;
  padding: 5px;
}

.SectionBlock__DescriptionText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
  background-color: white;
  padding: 1px 3px;
}